* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    margin: 0 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mainWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.forms {
    position: relative;
    width: 100%;
    height: 100%; 
}

.activeForm {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: visible;
    overflow: auto;
}

.inactiveForm {
    position: absolute;
    width: auto;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 0;
}

.activeEducationForm, .activeWorkForm {
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    overflow: auto;
}

.activeEducationForm{
    width: 250px;
    height: 250px;
    position: absolute;
    top: calc(50% - (250px/2));
    left: calc(50% - (250px/2));
}

.activeWorkForm {
    width: 250px;
    height: 375px;
    position: absolute;
    top: calc(50% - (375px/2));
    left: calc(50% - (250px/2));
}

.inactiveEducationForm, .inactiveWorkForm{
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.educationSection, .workSection {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.eduCard, .workCard {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}