body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.App {
  position: relative;
  min-height: 100vh;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  radial-gradient(#000022 1.55px, transparent 1.55px), radial-gradient(#000022 1.55px, #e5e5f7 1.55px);
  background-size: 62px 62px;
  background-position: 0 0,31px 31px;
  display: flex;
  flex-direction: column;
}

.nav {
  background: #000022;
}

.nav-link .active {
  color: #000022 !important;
}

.page {
  padding-bottom: 7rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.guideBtns {
  position: absolute;
  /* height: 3rem;  */
  bottom: 2rem;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.cardBody {
  background: #000022;
  border-radius: 10px;
}

.cardBody div {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.cardDataTitle {
  font-weight: bold;
  font-size: 1.1rem;
}

.reviewPage {
  align-self: center;
  /* width: 70%; */
}

.finalCV {
  margin: 50px 0;
  background: white;
  display: flex;
  flex-direction: column;
  height: 1131.36px;
  width: 800px;
}

.cvContact {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cvSection {
  border-top: 1px solid black;
  padding: 20px;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem; 
}