.forms {
    width: 500px;
    height: 500px;
}

.activeForm {
    opacity: 1;
    visibility: visible;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.inactiveForm {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}